#mediafire-url, #mediafire-new-url {
  font-family: 'Roboto Slab', serif;
  font-size: 1.5em;
  background: transparent;
  border-radius: 9px;
  outline: none;
  width: 100%;
  padding: 0.5em;
}

#mediafire-new-url {
  color: gray;
  border: 3px solid #0077ff;
}

#mediafire-url {
  color: white;
  border: 3px solid #ffbf00;
}

#mediafire-dl-p {
  text-align: center;
}

#mediafire-dl-btn {
  margin-left: 0 !important;
  font-size: 166% !important;
  text-align: center;
}

.disable {
  opacity: 0.33;
  pointer-events: none;
}

.hide {
  display: none;
}